modules = ["vue-node-20", "web", "python-3.12", "nodejs-20"]
run = "pkill node && npm run dev -- --host 0.0.0.0"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80
